{% extends 'main.html' %}
{% block body %}
<html>
  <h2>Add Customer</h2>
  <body>
    <div class='form'>
      <form method='POST' action='/customer'>
          {{ form.hidden_tag() }}
          {{ form.name.label }}{{ form.name }}
          <br>
          {{ form.is_old_enough.label }} {{ form.is_old_enough }}
          <br>
          {{ form.submit }}
          {{ message }}
        </form>
      </div>
        <a href="{{ url_for('homepage') }}">Home</a>
      <h2>Customers</h2>
      <table>
        {% for person in all_customers %}
          <tr>
            <td>
              {{person.name}}
            </td>
            <td>
              {{person.is_old_enough}}
            </td>
          </tr>
        {% endfor %}
     </table>
  </body>
</html>
{% endblock body %}