{% extends 'main.html' %}
{% block body %}
<html>
    <head>Homepage</head>
    <body>
        <p>
            Welcome to Tom's Project Bar.
            Please click where you would like to go.
            <br/>
            <a href="{{ url_for('add_customer') }}">Customers</a>
            <a href="{{ url_for('add_bartender') }}">List of employees</a>
            <a href="{{ url_for('add_customer') }}">What drinks we serve</a>
            <a href="{{ url_for('add_customer') }}">Customer payment details</a>
            <a href="{{ url_for('add_customer') }}">Order information</a>
        </p>
    </body>
</html>  
{% endblock body %}