{% extends 'main.html' %}
{% block body %}
    <div class= "container">
        <h2>Update Order</h2>
        <br>
        <form action='{{order_to_update.order_id}}'
        METHOD="POST">
            <input type="number" placeholder="quantity" name="quantity" value="{{order_to_update.quantity}}">
            <input type="number" step="0.01" placeholder="order_cost" name="order_cost" value="{{order_to_update.order_cost}}">
            <input type="text" placeholder="datetime_of_order" name="datetime_of_order" value="{{order_to_update.datetime_of_order}}">
            <input type="submit" value="Update Name"> 
        </form>
    </div>
{% endblock body %}